
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .main-post-img {
    margin: 5px;
    width: 90vw;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
  }
  .share-post{
    display: flex;
    align-items: center;
    justify-content:space-around;
    width: 100px;
    padding: 10px;
    border: 1px solid rgb(242, 205, 153);
    border-radius: 5vh;
    -webkit-border-radius: 5vh;
    -moz-border-radius: 5vh;
    -ms-border-radius: 5vh;
    -o-border-radius: 5vh;
  }
  .read-more{
    margin: 3rem;
    font-size: 3vh;
  }